@charset "UTF-8";
@keyframes DownHeader {
  from {
    opacity: 0;
    transform: translateY(-170px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
@font-face {
  font-family: "NSerifJP";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSerifJP-Medium.otf") format("opentype");
}
@font-face {
  font-family: "NSerifJP";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/NotoSerifJP-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "NSerifJP";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NotoSerifJP-Bold.otf") format("opentype");
}
/* メディアクエリ */
/* min-width */
/* max-width */
/* min and max */
/* @mixinの定義 */
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #000;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dt,
dd,
th,
td,
aside,
span,
small,
address {
  font-size: 0.8125rem;
  text-decoration: none;
  cursor: -moz-text;
  cursor: -webkit-text;
  cursor: text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
li,
ol {
  list-style: none;
}

a,
p {
  display: block;
}

span {
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a,
a > img,
h1 > img {
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer;
  outline: none;
}

address {
  font-style: normal;
}

.top-hero {
  position: relative;
  width: auto;
  height: 100vw;
  max-height: 700px;
  padding: 0 !important;
  overflow: hidden;
}
.top-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.top-hero .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 48%;
  max-width: 300px;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.4));
  z-index: 2;
}
.top-hero video {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 77%;
  transform: translateX(-77%) translateY(-50%);
}
.top-hero .swiper-slide-active .slide-img,
.top-hero .swiper-slide-duplicate-active .slide-img,
.top-hero .swiper-slide-prev .slide-img {
  animation: zoomUp 10s linear 0s 1 normal both;
}
.top-hero .slide-img {
  height: 100vw;
  max-height: 700px;
}
.top-hero .slide-img img {
  display: block;
  width: auto;
  height: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@keyframes zoomUp {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 800px) {
  .top-hero .slide-img img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .top-hero video {
    height: auto;
    width: 100%;
  }
}

.pageLinks {
  padding: 0 !important;
}
.pageLinks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pageLinks li {
  width: 100%;
  height: 40vw;
  max-height: 200px;
  position: relative;
  border-top: 0.5px solid #fff;
}
.pageLinks li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
.pageLinks li:first-child {
  background: url(../img/bout_mv.jpg) center no-repeat;
  background-size: cover;
}
.pageLinks li:nth-child(2) {
  background: url(../img/service_mv.jpg) center no-repeat;
  background-size: cover;
}
.pageLinks li:nth-child(3) {
  background: url(../img/results_mv.jpg) center no-repeat;
  background-size: cover;
}
.pageLinks li:nth-child(4) {
  background: url(../img/recruit_mv.jpg) center no-repeat;
  background-size: cover;
}
.pageLinks li:nth-child(5) {
  background: url(../img/contact_mv.jpg) center no-repeat;
  background-size: cover;
}
.pageLinks li a {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  z-index: 2;
}
.pageLinks li div {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.pageLinks li p,
.pageLinks li h2 {
  z-index: 2;
  position: relative;
}
.pageLinks li p {
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.pageLinks li h2 {
  font-weight: 600;
  letter-spacing: 0.2em;
}
.pageLinks li .arrow {
  display: block;
  width: 60px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
}
.pageLinks li .arrow img {
  width: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(50% - 3.5px);
  margin: auto;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .pageLinks li {
    width: calc(50% - 0.5px);
  }
  .pageLinks li:last-child {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .pageLinks li::before {
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
  }
  .pageLinks li.active .arrow {
    width: 150px;
    transition: all 0.3s;
  }
  .pageLinks li.active .arrow img {
    width: 15px;
    transition: all 0.3s;
  }
  .pageLinks li.active::before {
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.3s;
  }
  .pageLinks li div {
    left: 5%;
  }
  .pageLinks li p {
    font-size: 2.1875rem;
  }
  .pageLinks li h2 {
    font-size: 1rem;
  }
  .pageLinks li .arrow {
    width: 100px;
  }
  .pageLinks li .arrow img {
    width: 10px;
  }
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
.corporate-hero {
  background: url(../img/bout_mv.jpg) center no-repeat;
  background-size: cover;
}
.corporate-hero h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 0.25em;
}
@media screen and (min-width: 1024px) {
  .corporate-hero h1 {
    font-size: 1.875rem;
  }
}

/*------------------------------------------------
  代表挨拶
------------------------------------------------*/
.topMessage .content {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}
.topMessage .content .txt {
  margin-bottom: 2em;
}
.topMessage .content .txt p {
  margin-bottom: 0.8em;
}
.topMessage .content .sign p {
  font-size: 0.75rem;
  line-height: 1.8;
  font-weight: 800;
  text-align: right;
}
.topMessage .content .sign span {
  font-size: 0.9375rem;
  margin-left: 0.5em;
}
@media screen and (min-width: 1024px) {
  .topMessage .content .txt p {
    font-size: 1rem;
  }
  .topMessage .content .sign p {
    font-size: 0.875rem;
  }
  .topMessage .content .sign span {
    font-size: 1.125rem;
  }
}

/*------------------------------------------------
  会社概要
------------------------------------------------*/
.company {
  background: none;
  position: relative;
}
.company * {
  color: #fff !important;
}
.company::before {
  content: "";
  width: 100%;
  height: 100vh;
  background: url(../img/company_bg.jpg) bottom center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
.company::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.company .headline p::after {
  background: #fff;
}
.company .content {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
  position: relative;
  z-index: 2;
}
.company dl {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.company dt {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-style: normal;
  letter-spacing: 0.1em;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .company dl {
    display: flex;
  }
  .company dt {
    width: 30%;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .company dl {
    padding: 15px 0;
  }
  .company dt,
.company dd {
    font-size: 0.9375rem;
  }
  .company dt {
    width: 280px;
  }
  .company dd {
    width: 70%;
  }
  .company dd ul {
    display: flex;
    flex-wrap: wrap;
  }
  .company dd ul li:not(:last-child)::after {
    content: "、";
  }
}

/*------------------------------------------------
  アクセス
------------------------------------------------*/
.access {
  background: #f6f7f7;
}
.access .content {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}
.access picture {
  display: block;
  width: 280px;
  margin: 0 auto 20px;
}
.access iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.access table {
  background: #fff;
  border: none;
  margin-top: 20px;
}
.access tr:not(:last-child) th {
  border-bottom: 1px solid #fff;
}
.access tr:not(:last-child) td {
  border-bottom: 1px solid #ebebeb;
}
.access th,
.access td {
  vertical-align: middle;
  padding: 10px;
}
.access th {
  width: 28%;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-style: normal;
  font-size: 0.78125rem;
  color: #a5a5a5;
  background: #ebebeb;
}
@media screen and (min-width: 768px) {
  .access picture {
    width: 450px;
  }
  .access iframe {
    height: 450px;
  }
  .access .wrapper {
    display: flex;
  }
  .access .wrapper img {
    max-width: 330px;
    margin-right: 20px;
  }
  .access table {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .access picture {
    width: 600px;
    margin: 0 auto 30px;
  }
  .access th,
.access td {
    font-size: 0.875rem;
  }
}
.access ul.copoImg {
  margin: 20px auto;
}
.access ul.copoImg img {
  object-fit: cover;
  margin: auto;
  opacity: 0.3;
  transform: scale(0.9);
  transition: opacity 0.5s, transform 0.7s;
}
@media screen and (min-width: 376px) {
  .access ul.copoImg img {
    height: 125px;
    width: 225px;
  }
}
@media screen and (min-width: 768px) {
  .access ul.copoImg img {
    height: 100px;
    width: 160px;
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .access ul.copoImg img {
    height: 300px;
    width: 510px;
    opacity: 0.3;
  }
}
.access ul.copoImg .slick-center img,
.access ul.copoImg .slick-active img {
  transform: scale(1);
  opacity: 1;
}

/*------------------------------------------------
  役員紹介
------------------------------------------------*/
.member .content {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}
.member .member_content:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.member .member_left {
  padding: 0 20px;
}
.member dl {
  text-align: center;
  margin: 10px 0 15px;
}
.member dt {
  font-size: 1rem;
}
.member dd::before, .member dd::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  background: #000;
  vertical-align: middle;
  margin: 0 7px;
}
.member th, .member td {
  display: block;
}
.member th {
  font-size: 0.75rem;
  color: #959595;
  text-align: center;
  background: #f6f7f7;
  padding: 0.2em 0;
}
.member td {
  padding: 0.5em 0 1.2em;
}
.member .experience {
  text-align: center;
  padding: 0 0 1.2em;
}
@media screen and (min-width: 768px) {
  .member .member_content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .member .member_left {
    width: 50%;
    max-width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .member .member_content {
    min-height: 420px;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }
  .member .member_content:not(.show) {
    display: none;
  }
  .member .member_left {
    padding: 0;
  }
  .member dl {
    margin: 10px 0 5px;
  }
  .member tbody {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
  }
  .member tr {
    height: auto;
  }
  .member tr:last-child {
    grid-row: 1/5;
    grid-column: 2;
  }
  .member tr:not(:last-child) {
    margin: 0 30px;
  }
  .member td {
    font-size: 0.875rem;
  }
  .member .tab-are {
    display: flex;
    align-items: flex-start;
  }
  .member .tab {
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  .member .tab * {
    cursor: pointer;
  }
  .member .tab .photo {
    width: 180px;
    background: #000;
    overflow: hidden;
  }
  .member .tab .photo img {
    transition-duration: 0.3s;
  }
  .member .tab:hover img {
    transition-duration: 0.3s;
    transform: scale(1.15);
    opacity: 0.8;
  }
  .member .tab.active {
    background: #0036601a;
  }
}

/*------------------------------------------------
  会社沿革
------------------------------------------------*/
.history .content {
  max-width: 1300px;
  border-left: 1px solid #000;
  margin: 0 20px;
  padding: 20px 0;
}
.history .content li:not(:last-child) {
  margin-bottom: 1.5em;
}
.history .content .date {
  position: relative;
  margin-bottom: 0.3em;
}
.history .content .date::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #003660;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5.5px;
  margin: auto;
  z-index: 3;
}
.history .content .date::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.history .content .date p {
  display: inline-block;
  background: #fff;
  padding: 0 0.8em;
  margin: 0 20px;
  position: relative;
  z-index: 2;
}
.history .content .txt {
  margin-left: calc(20px + 0.8em);
}
@media screen and (min-width: 1024px) {
  .history li p {
    font-size: 0.875rem;
  }
  .history li:not(:last-child) {
    margin-bottom: 2em;
  }
}
@media screen and (min-width: 1440px) {
  .history .content {
    margin: auto;
  }
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
.service-hero {
  background: url(../img/service_mv.jpg) center no-repeat;
}

.service video {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto 1.5em;
}
.service .link-block .bgImg {
  position: relative;
}
.service .link-block .bgImg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.service .link-block .title {
  position: absolute;
  top: -1.5em;
}
.service .link-block .title p:first-of-type {
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: 800;
}
.service .link-block .title p:nth-of-type(2) {
  font-size: 0.875rem;
  font-weight: 800;
}
.service .link-block .btn-wrap {
  position: absolute;
  bottom: 10px;
}
.service .link-block .btn-wrap a {
  color: #fff;
  background: #141414;
  position: relative;
  padding: 0.4em 50px 0.4em 20px;
}
.service .link-block .btn-wrap a:not(:last-child) {
  margin-bottom: 0.5em;
}
.service .link-block .btn-wrap a::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  background: url(../img/arrow_white.svg) center no-repeat;
  background-size: contain;
  transform: rotate(90deg);
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}
.service .link-block .rent {
  position: relative;
  margin-right: 35px;
  margin-bottom: 50px;
}
.service .link-block .rent .bgImg::after {
  background: #f6f7f7;
  background: linear-gradient(270deg, white 0%, #f6f7f7 20%, rgba(255, 255, 255, 0) 100%);
}
.service .link-block .rent .title {
  text-align: right;
  right: -15px;
}
.service .link-block .rent .btn-wrap {
  right: 0;
}
.service .link-block .buy {
  position: relative;
  margin-left: 35px;
}
.service .link-block .buy .bgImg::after {
  background: #f6f7f7;
  background: linear-gradient(90deg, white 0%, #f6f7f7 20%, rgba(255, 255, 255, 0) 100%);
}
.service .link-block .buy .title {
  text-align: left;
  left: -15px;
}
.service .link-block .buy .btn-wrap {
  left: 0;
}
@media screen and (min-width: 768px) {
  .service .link-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .service .link-block .bgImg::after {
    top: 0.5px;
    left: 0.5px;
  }
  .service .link-block .buy .title {
    left: auto;
    right: -1.5em;
    text-align: right;
  }
  .service .link-block .buy img {
    transform: scale(-1, 1);
  }
  .service .link-block .buy .btn-wrap {
    left: auto;
    right: 0;
  }
  .service .link-block .buy .bgImg::after {
    background: #f6f7f7;
    background: linear-gradient(270deg, white 0%, #f6f7f7 20%, rgba(255, 255, 255, 0) 100%);
  }
  .service .rent,
.service .buy {
    width: 40%;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .service .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
  }
  .service .container video {
    width: 50%;
    padding: 0 30px;
    margin: 0 20px 0 0;
  }
  .service .container .mainTxt {
    line-height: 2.1;
    text-align: left;
    margin: 0;
  }
  .service .link-block .title {
    top: -2em;
  }
  .service .link-block .title p:first-of-type {
    font-size: 2.875rem;
  }
  .service .link-block .title p:nth-of-type(2) {
    font-size: 1rem;
  }
  .service .link-block .btn-wrap a {
    font-size: 0.9375rem;
    padding: 0.5em 80px 0.5em 30px;
  }
}

.service-contents {
  background: none;
  padding: 0 0 100px !important;
}
.service-contents .headBg {
  position: relative;
  margin-right: 20px;
}
.service-contents .title {
  display: flex;
  align-items: center;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 20px;
}
.service-contents .title p {
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-size: 1.4375rem;
  font-weight: 800;
}
.service-contents .title h2 {
  font-size: 0.9375rem;
  font-weight: 800;
  position: relative;
  padding-left: 1.1em;
  margin-left: 0.5em;
}
.service-contents .title h2::before {
  content: "";
  display: block;
  width: 0.6em;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.service-contents .content {
  margin-top: -2em;
  margin-left: 20px;
  position: relative;
  z-index: 2;
}
.service-contents .content .block {
  padding: 20px;
}
.service-contents .content .block:not(:last-child) {
  margin-bottom: 10px;
}
.service-contents .content h3 {
  font-size: 0.9375rem;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.15em;
}
.service-contents .rent {
  position: relative;
  margin-bottom: 80px;
}
.service-contents .rent::before {
  content: "";
  width: 100%;
  height: calc(100% - 0.5em);
  position: absolute;
  background: #ebebeb;
  top: 3em;
  left: 0;
  z-index: -1;
}
.service-contents .rent .block {
  background: #fff;
}
.service-contents .rent h3 {
  border-left: 3px solid #003660;
  padding-left: 12px;
  margin-bottom: 0.8em;
}
.service-contents .buy .block {
  background: #f6f7f7;
}
.service-contents .buy h3 {
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .service-contents .headBg {
    width: 80%;
    max-width: 1000px;
  }
  .service-contents .content {
    margin-top: -10%;
  }
}
@media screen and (min-width: 1024px) {
  .service-contents .title {
    padding: 0.2em 30px;
  }
  .service-contents .title p {
    font-size: 2.125rem;
  }
  .service-contents .title h2 {
    font-size: 1.0625rem;
    margin-left: 1em;
    padding-left: 1.6em;
  }
  .service-contents .content {
    width: 60%;
    max-width: 900px;
    margin-top: -350px;
    margin-left: auto;
    margin-right: 30px;
  }
  .service-contents .content .block {
    padding: 30px;
  }
  .service-contents .content .block:not(:last-child) {
    margin: 0;
    padding: 30px 30px 10px;
  }
  .service-contents .content .block p {
    font-size: 0.9375rem;
  }
  .service-contents .content h3 {
    font-size: 1.125rem;
  }
  .service-contents .rent {
    margin-bottom: 180px;
  }
  .service-contents .rent::before {
    height: calc(100% + 10px);
  }
  .service-contents .buy h3 {
    font-size: 1.1875rem;
  }
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
/*------------------------------------------------
  一覧
------------------------------------------------*/
.results-hero {
  background: url(../img/results_mv.jpg) center no-repeat;
}

.results-body {
  background: #ebebeb;
}

.results {
  max-width: 1300px;
  background: #ebebeb;
  margin: auto;
  padding: 40px 20px 100px !important;
}
.results article {
  background: #fff;
}
.results article:not(:last-child) {
  margin-bottom: 30px;
}
.results h2 {
  font-size: 0.9375rem;
  color: #fff;
  line-height: 2.6;
  text-align: center;
  background: #141414;
  background: linear-gradient(174deg, #141414 0%, #141414 50%, #282828 50%, #282828 100%);
}
.results .content {
  padding: 15px;
}
.results ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.results li {
  width: calc(50% - 7px);
  max-width: 290px;
}
.results li:not(:last-of-type) {
  margin-bottom: 13px;
}
.results li:nth-last-of-type(2) {
  margin: 0;
}
.results li img {
  height: 25vw;
  max-width: 290px;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 0.4em;
}
.results li p {
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
}
.results li p span {
  white-space: nowrap;
}
.results .property {
  background: #f6f8f9;
  margin-top: 15px;
  padding: 10px 10px 10px 25px;
}
.results .property li {
  font-size: 0.75rem;
  width: 100%;
  max-width: 100%;
  margin: 0;
}
.results .property li::before {
  content: "・";
  margin-left: -12px;
}
@media screen and (min-width: 768px) {
  .results {
    padding: 60px 40px 100px !important;
  }
  .results .content {
    padding: 20px;
  }
  .results ul {
    justify-content: left;
  }
  .results li {
    width: calc(33.3333333333% - 30px);
    max-width: 100%;
    margin: 0 15px 20px !important;
  }
  .results li img {
    max-width: 100%;
  }
  .results li p {
    font-size: 0.8125rem;
  }
  .results .property {
    padding: 10px 15px;
    margin: 0;
  }
  .results .property li {
    width: auto;
    display: inline-block;
    font-size: 0.8125rem;
    line-height: 2;
    margin: 0 !important;
  }
  .results .property li::before {
    display: none;
  }
  .results .property li::after {
    content: "";
    display: inline-block;
    width: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .results .content {
    padding: 30px;
  }
  .results article:not(:last-child) {
    margin-bottom: 40px;
  }
  .results h2 {
    font-size: 1.25rem;
  }
  .results li {
    width: calc(25% - 30px);
  }
  .results li img {
    margin-bottom: 0.6em;
  }
  .results li p {
    font-size: 0.875rem;
  }
  .results .property {
    padding: 13px 20px;
  }
  .results .property li {
    font-size: 0.875rem;
  }
}

.results-body footer::before {
  background: #ebebeb;
}

/*------------------------------------------------
  各物件詳細ページ
------------------------------------------------*/
.results-page {
  padding-top: 0 !important;
}
.results-page h1 {
  font-size: 0.9375rem;
  color: #fff;
  line-height: 2.6;
  text-align: center;
  background: #141414;
  background: linear-gradient(174deg, #141414 0%, #141414 50%, #282828 50%, #282828 100%);
}
.results-page img {
  max-width: 900px;
  max-height: 600px;
  object-fit: cover;
  padding: 15px 20px;
  margin: auto;
}
.results-page table {
  margin: 0 auto 30px;
}
.results-page table tr {
  display: flex;
  justify-content: center;
  padding: 1em 20px;
}
.results-page table tr:nth-of-type(odd) {
  background: #f6f7f7;
}
.results-page table th {
  width: 25%;
  max-width: 200px;
  text-align: left;
}
.results-page table td {
  width: 75%;
  max-width: 700px;
}
@media screen and (min-width: 768px) {
  .results-page {
    padding-bottom: 100px !important;
  }
}
@media screen and (min-width: 900px) {
  .results-page img {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1024px) {
  .results-page h1 {
    font-size: 1.25rem;
  }
  .results-page table {
    margin: 0 auto 50px;
  }
  .results-page td, .results-page dd {
    font-size: 0.875rem;
  }
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
.recruit-hero {
  background: url(../img/recruit_mv.jpg) center no-repeat;
}

.recruit {
  background: none;
}
.recruit .mainTxt a {
  display: inline-block;
  font-size: inherit;
  text-decoration: underline;
}
.recruit .pattern {
  background: none;
  margin-bottom: 80px;
}
.recruit .pattern h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}
.recruit .pattern h2 span {
  display: block;
  font-size: 1.1875rem;
  font-weight: 800;
  margin: 0 0.01em;
}
.recruit .pattern h2 span:nth-child(2n+1) {
  color: #048272;
}
.recruit .pattern h2 span:nth-child(2n) {
  color: #003660;
}
.recruit .pattern .content {
  display: flex;
}
.recruit .pattern .content * {
  color: #fff;
}
.recruit .pattern .content > div {
  width: 50%;
  padding: 2em 0;
}
.recruit .pattern .content img {
  width: auto;
  height: 70px;
  margin: 2em auto;
}
.recruit .pattern .content h3 {
  font-size: 0.84375rem;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  white-space: nowrap;
  text-align: center;
}
.recruit .pattern .content p {
  padding: 0 10px;
}
.recruit .pattern .content .myOunPace {
  position: relative;
}
.recruit .pattern .content .myOunPace::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #048272;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.recruit .pattern .aggressive {
  position: relative;
}
.recruit .pattern .aggressive::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #003660;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .recruit {
    padding: 130px 0 0;
  }
  .recruit .pattern {
    margin-bottom: 130px;
  }
  .recruit .pattern h2 {
    margin: 1em;
  }
  .recruit .pattern h2 span {
    font-size: 2.125rem;
  }
  .recruit .pattern .content > div {
    padding: 35px 0;
  }
  .recruit .pattern .content h3 {
    font-size: 1.25rem;
  }
  .recruit .pattern .content img {
    height: 100px;
    margin: 2.5em auto;
  }
  .recruit .pattern .content p {
    font-size: 0.9375rem;
    text-align: center;
  }
}

.message .wrapper {
  position: relative;
}
.message .wrapper h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5;
}
.message .wrapper .mw1 {
  margin-bottom: 30px;
}
.message .wrapper .mw1 img {
  width: calc(100% - 20px);
}
.message .wrapper .mw1 .txt {
  width: 80%;
  background: #fff;
  padding: 20px;
  margin: -20% 0 0 auto;
  box-shadow: 0 2px 15px #0000000f;
  position: relative;
  z-index: 2;
}
.message .wrapper .mw1 h4 {
  margin-bottom: 0.5em;
}
.message .wrapper .mw2 {
  text-align: center;
  background: #f6f7f7;
  padding: 30px 20px;
}
.message .wrapper .mw2 h4 {
  display: inline-block;
  background: #fff;
  border-radius: 3em;
  text-align: center;
  padding: 0.2em 1.5em;
  margin-bottom: 1em;
}
.message .wrapper .mw2 p {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .message .wrapper .mw1 {
    display: flex;
    align-items: flex-start;
  }
  .message .wrapper .mw1 img {
    width: 60%;
  }
  .message .wrapper .mw1 .txt {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .message .wrapper .mw2 {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .message .wrapper .mw1 h4 {
    font-size: 1.25rem;
  }
  .message .wrapper .mw1 .txt {
    padding: 30px 30px 40px;
  }
  .message .wrapper .mw1 p {
    font-size: 1rem;
  }
  .message .wrapper .mw2 {
    padding: 30px;
  }
  .message .wrapper .mw2 h4 {
    font-size: 1rem;
  }
  .message .wrapper .mw2 p {
    font-size: 0.875rem;
  }
}

.moving-flow .content {
  max-width: 1000px;
  padding: 0 20px;
  margin: auto;
}
.moving-flow .box {
  background: #f6f7f7;
  position: relative;
}
.moving-flow .box:not(:last-child) {
  margin-bottom: 26px;
}
.moving-flow .box:not(:last-child)::after {
  content: "";
  display: block;
  border-style: solid;
  border-color: #5d5d5d transparent transparent transparent;
  border-width: 8px;
  position: absolute;
  left: 50%;
  top: calc(100% + 8px);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.moving-flow .box h4 {
  color: #fff;
  line-height: 2.4;
  text-align: center;
  background: #5d5d5d;
}
.moving-flow .box .box-content {
  display: flex;
  align-items: center;
  padding: 15px;
}
.moving-flow .box .box-content img {
  width: 80px;
  margin-right: 15px;
}
@media screen and (min-width: 1024px) {
  .moving-flow {
    padding: 130px 0 50px;
  }
  .moving-flow .box h4 {
    font-size: 1rem;
  }
  .moving-flow .box p {
    font-size: 0.9375rem;
    line-height: 2.6;
  }
}

.description .content {
  max-width: 1000px;
  margin: auto;
}
.description .content .txt, .description .content .txt span {
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}
.description table {
  margin-bottom: 40px;
}
.description tr {
  display: block;
}
.description tr:not(:last-child) {
  margin: 0 auto 15px;
}
.description th, .description td {
  display: block;
  width: 100%;
  text-align: left;
}
.description th {
  background: #f6f7f7;
  padding: 0.3em 20px;
}
.description td {
  padding: 0.5em 20px;
}
.description td p {
  margin-left: 1rem;
}
.description td p.kome::before {
  content: "※";
  margin-left: -1rem;
}
.description .resources li, .description .education li {
  padding-left: 10px;
  position: relative;
}
.description .resources li::before, .description .education li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 0.7em;
  left: 0;
}
.description .treatment li {
  margin-left: 1rem;
}
.description .treatment li::before {
  content: "■";
  margin-left: -1rem;
}
@media screen and (min-width: 1024px) {
  .description .content .txt, .description .content .txt span {
    font-size: 1.0625rem;
    line-height: 1.8;
  }
  .description table {
    margin-bottom: 60px;
  }
  .description tr:not(:last-child) {
    margin: 0 auto 20px;
  }
  .description th, .description td {
    padding: 0.4em 30px;
  }
  .description th {
    font-size: 0.9375rem;
    border-left: 5px solid #ebebeb;
  }
  .description td {
    font-size: 0.875rem;
  }
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
.contact-hero {
  background: url(../img/contact_mv.jpg) center no-repeat;
}

a.contactBtn {
  font-weight: 600;
  padding-right: 1em;
}

@media screen and (min-width: 768px) {
  .max1024 {
    display: none !important;
  }
}
@media screen and (min-width: 376px) {
  .max1024 {
    display: block;
  }
}

.form_wrap {
  display: block;
  max-width: 1000px;
  margin: 0 auto 16rem;
}
.form_wrap p .center {
  text-align: center !important;
}
.form_wrap ul#request li {
  background: #000 url(../img/contactimg/to01.png) no-repeat;
  position: relative;
  margin: 2.5rem auto;
  height: 160px;
  background-size: 50% auto contain;
  vertical-align: middle;
  border: 1px solid #000;
  display: grid;
  place-items: center;
}
.form_wrap ul#request li:nth-child(2) {
  background: #000 url(../img/contactimg/to02.png) no-repeat;
}
.form_wrap ul#request li:nth-child(3) {
  background: #000 url(../img/contactimg/to03.png) no-repeat;
}
.form_wrap ul#request li::before {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .form_wrap ul#request li::before {
    display: none;
  }
}
@media screen and (min-width: 376px) {
  .form_wrap ul#request li {
    width: 95%;
  }
}
.form_wrap ul#request li a.branch {
  place-items: center;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: 10;
}
@media screen and (min-width: 1024px) {
  .form_wrap ul#request li a.branch {
    width: 50%;
    transform: translateX(53%);
  }
}
@media screen and (max-width: 375px) {
  .form_wrap ul#request li a.branch {
    width: 100%;
    transform: translateX(0%);
  }
}
.form_wrap ul#request li a.branch::after {
  content: url(../../../img/rightarrow.svg);
  position: absolute;
  right: 13%;
}
@media screen and (min-width: 768px) {
  .form_wrap ul#request li a.branch::after {
    content: url(../../../img/rightarrow.svg);
    position: absolute;
    right: 15%;
  }
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
.privacy {
  padding: 0 0 100px !important;
}
.privacy .content {
  padding: 30px 20px;
}
.privacy h1 {
  font-size: 0.9375rem;
  color: #fff;
  line-height: 3;
  text-align: center;
  background: #141414;
}
.privacy .block {
  margin-bottom: 20px;
}
.privacy h2, .privacy h3 {
  font-size: 0.875rem;
  line-height: 2.4;
  text-align: center;
  margin-bottom: 0.5em;
}
.privacy h3 {
  background: #f6f7f7;
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
.contact01-hero {
  background: url(../img/contactimg/to01.png) center no-repeat;
}
.contact01-hero p {
  font-size: 1.625rem !important;
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif !important;
}

a.contactBtn {
  font-weight: 600;
  padding-right: 1em;
}

@media screen and (min-width: 768px) {
  .max1024 {
    display: none !important;
  }
}
@media screen and (min-width: 376px) {
  .max1024 {
    display: block;
  }
}

.form_wrap {
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif !important;
  /*ボタン装飾*/
  /*中身を非表示にしておく*/
}
@media screen and (min-width: 330px) {
  .form_wrap {
    width: 95%;
  }
}
.form_wrap span.danger {
  display: inline-block;
  background: #cc3131;
  color: #fff;
  border-radius: 5px;
  padding: 1px 4px;
  font-size: 0.3125rem;
  font-weight: 700;
  text-align: center;
  margin: 5px 0;
  width: auto;
  vertical-align: 3px;
}
.form_wrap h3 {
  border-left: 15px #003660 solid;
  margin: 30px 0 20px;
  text-indent: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}
.form_wrap h3 span.danger {
  text-indent: 0;
  margin-left: 10px;
}
.form_wrap .sepalate label {
  display: inline-block;
}
.form_wrap label {
  margin: 5px 0;
  align-items: center;
  display: inline-block;
}
.form_wrap label span.danger {
  text-indent: 0;
  margin-left: 10px;
}
.form_wrap label input {
  background: #FFF;
}
.form_wrap label input[type=text],
.form_wrap label textarea {
  box-sizing: border-box;
  padding: 3px 5px;
  border: solid 2px #EDEFF7;
  vertical-align: -2px;
  margin: 4px 10px;
  border-radius: 5px;
  width: 200px;
}
.form_wrap label input[type=text]:focus,
.form_wrap label textarea:focus {
  border-color: #529fff;
  outline: 0;
}
.form_wrap label select {
  padding: 3px 5px;
  border: solid 2px #EDEFF7;
  width: 140px;
  border-radius: 5px;
}
.form_wrap label select[name=month], .form_wrap label select[name=day] {
  width: 60px;
}
.form_wrap label form {
  margin: 20px 0;
}
.form_wrap h5 {
  font-size: 0.9375rem;
  background: #EDEFF7;
  padding: 10px 0 10px 15px;
  font-weight: 500;
  margin: 12px 0;
}
.form_wrap h5 span.danger {
  display: inline-block;
  margin: 0 10px;
}
.form_wrap h5 span {
  font-size: 0.25rem;
  color: #7C7C7C;
}
.form_wrap span.ss {
  font-size: 0.25rem;
  color: #7C7C7C;
}
.form_wrap h4 {
  margin: 12px 0;
  color: #FFF;
  font-size: 0.8125rem;
  font-weight: 500;
  background: #16528E;
  padding: 5px 0 5px 15px;
}
.form_wrap #movein {
  background: #fafafa;
  margin: 10px auto;
  width: 95%;
}
.form_wrap button.add,
.form_wrap input#btnAddform {
  margin: 0 auto;
  display: block;
  background: #16528E;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 5px 100px;
  cursor: pointer;
}
.form_wrap input:invalid {
  background: #fccaca;
}
.form_wrap button.btnDeleat {
  display: inline-block;
  margin: 0 auto;
  background: #f8f8f8;
  color: #7C7C7C;
  border: #c9c9c9 solid 2px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.form_wrap #omote img {
  width: 200px;
  margin: 10px;
  border: solid 1px silver;
}
.form_wrap .submit_btn {
  margin: 0 auto;
  display: block;
  color: #fff;
  background: #003660;
  padding: 15px 60px;
  border: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.form_wrap input.backbtn {
  margin: 1rem auto;
  display: block;
  color: #fff;
  background: #9b9b9b;
  padding: 15px 40px;
  line-height: normal;
  border: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.form_wrap .hidden_box {
  margin: 2em 0;
  /*前後の余白*/
  padding: 0;
}
.form_wrap .hidden_box label {
  padding: 5px;
  font-weight: bold;
  border: solid 2px black;
  cursor: pointer;
}
.form_wrap .hidden_box input {
  display: none;
}
.form_wrap .hidden_box .hidden_show {
  padding: 0;
  overflow: hidden;
  opacity: 0;
  height: 0;
}
.form_wrap li.non {
  transition: 0.8s;
  display: none;
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
.contact02-hero {
  background: url(../img/contactimg/to02.png) center no-repeat;
}
.contact02-hero p {
  font-size: 1.625rem !important;
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif !important;
}

a.contactBtn {
  font-weight: 600;
  padding-right: 1em;
}

.form_wrap .route_wrap label {
  display: grid;
}
@media screen and (min-width: 768px) {
  .form_wrap .route_wrap label {
    display: inline-grid;
    justify-items: start;
    justify-content: space-between;
    width: 40%;
  }
}
.form_wrap .route_wrap label input {
  min-width: 250px;
  max-width: 300px;
  width: 100%;
}
.form_wrap .conditions_wrap {
  align-content: initial;
  justify-content: space-around;
}
.form_wrap .conditions_wrap label {
  display: inline-block;
  width: 48%;
}
@media screen and (min-width: 768px) {
  .form_wrap .conditions_wrap label {
    justify-items: start;
    justify-content: space-between;
    width: 20%;
    display: inline-block;
  }
}
.form_wrap p.margin {
  margin: 1rem 0;
}
.form_wrap label #freetxbox {
  height: 200px;
  max-width: 100%;
  width: 25em;
}
@media screen and (min-width: 768px) {
  .form_wrap label #freetxbox {
    width: 40em;
  }
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
.contact03-hero {
  background: url(../img/contactimg/to03.png) center no-repeat;
}
.contact03-hero p {
  font-size: 1.625rem !important;
}
@media screen and (min-width: 376px) {
  .contact03-hero p {
    font-size: 0.9375rem;
    font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif !important;
  }
}

a.contactBtn {
  font-weight: 600;
  padding-right: 1em;
}

.form_wrap {
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif !important;
}
@media screen and (min-width: 376px) {
  .form_wrap {
    width: 95%;
  }
}
.form_wrap a.submit_btn {
  display: block;
  color: #fff;
  width: 300px;
  text-align: center;
  background: #003660;
  padding: 15px 60px;
  border: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0 auto;
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
header {
  width: 100%;
  background-color: #fff;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: relative;
  z-index: 4;
  /*------------------------------------------------
    ヘッダーメニュー
  ------------------------------------------------*/
  /*
    ナビアイコン
  ------------------------------------------------*/
  /*
    activeクラスが付与されると線が回転して×に
  ------------------------------------------------*/
  /*
    メニュー本体
  ------------------------------------------------*/
  /*
    アニメーション部分
  ------------------------------------------------*/
}
header.fixedHeader {
  background-color: transparent;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  /*最前面へ*/
  animation: DownHeader 0.5s forwards;
}
header .content {
  position: relative;
}
header .content::before {
  content: "";
  background: #fdfdfdc7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: -1;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 180px;
  position: relative;
  z-index: 3;
  margin-left: 15px;
}
header .nav-toggle {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}
header .nav-toggle span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  right: 13px;
  height: 2px;
  background-color: #262626;
}
header .nav-toggle span:nth-of-type(1) {
  top: 22px;
  width: 50%;
}
header .nav-toggle span:nth-of-type(2) {
  top: 29px;
  width: 30%;
}
header .nav-toggle.active span:nth-of-type(1) {
  top: 20px;
  right: 16px;
  transform: translateY(6px) rotate(-45deg);
  width: 35%;
}
header .nav-toggle.active span:nth-of-type(2) {
  top: 32px;
  right: 16px;
  transform: translateY(-6px) rotate(45deg);
  width: 35%;
}
header .menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  overflow: scroll;
  padding: 70px 0 30px;
}
header .menu > div {
  width: 100%;
  height: auto;
  padding: 2px 0;
  box-sizing: border-box;
  /* サブメニュー（アコーディオン）がある場合はクラス名を付け、疑似要素にleft:calc(18px * 文字数)を設定する */
}
header .menu > div > a {
  display: flex;
  flex-flow: column;
  position: relative;
  padding: 10px 25px 10px 20px;
}
header .menu > div > a p {
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1875rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  position: relative;
}
header .menu > div > a span {
  font-size: 0.75rem;
  line-height: 1.2;
}
header .menu > div .menu-tab p::before, header .menu > div .menu-tab p::after {
  content: "";
  display: block;
  background-color: #003660;
  width: 10px;
  height: 1.5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .menu > div .menu-tab p::after {
  /* 横棒を縦にするために90℃回転させる */
  transform: translateY(-50%) rotate(90deg);
  /* プラスからマイナスへの切り替えをゆっくり行いアニメーションさせる */
  transition: 0.5s;
}
header .menu > div .menu-open p::after {
  transform: rotate(0);
  transition: 0.5s;
}
header .menu > div .menu-tab-corporate p::before, header .menu > div .menu-tab-corporate p::after {
  left: 162px;
}
header .menu .menu-list {
  display: none;
  background: #f6f7f7;
  padding: 10px 0;
}
header .menu .menu-list a {
  width: 60%;
  font-family: "Noto Serif JP", -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-size: 0.84375rem;
  padding: 7px 40px;
}
header .menu {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}
header .menu.is-active {
  pointer-events: auto;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  header .logo {
    width: 220px;
    margin-left: 30px;
  }
  header .nav {
    display: flex;
    margin-right: 100px;
  }
  header .nav > li {
    display: block;
    width: 130px;
    text-align: center;
    position: relative;
  }
  header .nav > li.active {
    background: #0036601a;
  }
  header .nav > li > a {
    padding: 1.3em 0 0.9em;
  }
  header .nav > li > a p {
    font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0;
  }
  header .nav > li > a span {
    font-size: 0.75rem;
  }
  header .sub {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    min-height: 0;
    height: 0;
    z-index: 3;
    transition: min-height 0.5s;
  }
  header .sub.active {
    min-height: 20em;
  }
  header .sub > li a {
    font-size: 0.8125rem;
    font-weight: 800;
    color: #fff;
    background: #003660;
    line-height: 4em;
  }
  header .sub > li > a:hover {
    background-color: #004b83;
    opacity: 1;
  }
}

body.open {
  overflow: hidden;
}
body.open header .content::before {
  background-color: #fff;
  z-index: 2;
}

@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Petersburg.woff") format("woff");
}
@font-face {
  font-family: "Petersburg";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Petersburg-Bold.woff") format("woff");
}
footer {
  width: 100%;
  background: #f3f3f3;
  position: relative;
  padding: 40px 0 0;
}
footer .logo {
  width: 140px;
  margin: 0 auto 40px;
}
footer .footer_linkGroup {
  padding: 0 20px 15px;
}
footer .footer_linkGroup .title {
  font-weight: 800;
  color: #9f9f9f;
  margin-bottom: 0.2em;
}
footer .footer_linkGroup a {
  color: #000;
  font-weight: 600;
  border: none;
}
footer small {
  display: block;
  font-size: 0.625rem;
  color: #5d5d5d;
  text-align: center;
  padding: 15px 0;
}
footer .Fcontact {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
footer .bnr_wrap a {
  width: calc(100% - 40px);
  max-width: 270px;
  margin: 10px auto;
}
footer .bnr_wrap a img {
  border: 1px solid #003660;
}
footer a.suumoBnr {
  margin: 20px auto 10px;
}
footer a.suumoBnr img {
  border: 1px solid #141414;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 40px 0 40px;
  }
  footer .inner {
    width: calc(100% - 60px);
    max-width: 950px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  footer .logo {
    width: 150px;
  }
  footer .Fcontact {
    margin: 0 auto 10px;
  }
  footer .footer_contents {
    display: flex;
    align-items: flex-start;
  }
  footer .footer_linkGroup {
    padding: 0 25px 15px;
  }
  footer .footer_linkGroup.link div {
    width: 210px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  footer .footer_linkGroup a {
    display: inline-block;
    background: none;
    border: none;
    border-radius: 5px;
  }
  footer .footer_linkGroup a:hover {
    color: #003660;
    background-color: #e1e7eb;
  }
  footer small {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  footer .bnr_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 10px;
  }
  footer .bnr_wrap a {
    margin: 0 20px;
  }
  footer .bnr_wrap a img {
    width: auto;
    max-height: 95px;
  }
  footer .bnr_wrap a:hover {
    opacity: 0.8;
  }
}
@media screen and (min-width: 940px) {
  footer .logo {
    margin: 0;
  }
}
@media screen and (min-width: 1550px) {
  footer .inner {
    max-width: 1550px;
  }
  footer .footer_linkGroup.link {
    padding: 0 0 15px 25px;
  }
  footer .bnr_wrap {
    width: auto;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
*:disabled {
  background: #909090 !important;
}
*:disabled:hover {
  cursor: not-allowed;
}

body {
  width: 100%;
  font-family: "Noto Serif JP", -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-style: normal;
  position: relative;
  z-index: 0;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #000;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*Chrome,Safari*/
  -ms-text-size-adjust: 100%;
  /*EgdeMobile*/
  -moz-text-size-adjust: 100%;
  /*firefox*/
  background-color: #fff;
}

::selection {
  background: #e1e7eb;
}

::-moz-selection {
  background: #e1e7eb;
}

a * {
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer;
}

/*------------------------------------------------
  共通
------------------------------------------------*/
@media screen and (min-width: 768px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
.visuallyhidden {
  width: 1px;
  height: 1px;
  visibility: collapse;
}

.nowrap {
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}

.min1024,
.min768 {
  display: none;
}

@media screen and (min-width: 768px) {
  .max768 {
    display: none !important;
  }

  .min768 {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .max1024 {
    display: none !important;
  }

  .min1024 {
    display: block;
  }
}
section {
  background: #fff;
  padding: 60px 0;
}
section:last-child {
  padding: 60px 0 100px;
}
@media screen and (min-width: 1024px) {
  section {
    padding: 130px 0;
  }
  section:last-child {
    padding: 130px 0 150px;
  }
}

.mainTxt {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
}
@media screen and (min-width: 1024px) {
  .mainTxt {
    font-size: 1.0625rem;
    line-height: 1.8;
    margin-bottom: 140px;
  }
}

.defaultBtn {
  width: 60%;
  max-width: 300px;
  color: #fff;
  line-height: 3.8;
  text-align: center;
  letter-spacing: 0.2em;
  background: #003660;
  margin: 0 auto;
  position: relative;
}
.defaultBtn::after {
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  background: url(../img/arrow_white.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  margin: auto;
}

.backBtn {
  max-width: 190px;
  height: 3.5em;
  line-height: 3.2;
  border: none;
  display: block;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border: 1px solid #141414;
  margin: 0 auto;
}
.backBtn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #141414;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.backBtn:hover {
  color: #fff;
}
.backBtn:hover::after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.backBtn span {
  position: relative;
  z-index: 1;
}

/*
  各ページのメインビジュアル、見出し
------------------------------------------------*/
.hero {
  height: 68vw;
  position: relative;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
}
.hero:not(.corporate-hero) {
  background-size: cover;
}
.hero:not(.corporate-hero) .hero-wrapper {
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5em 0 1em;
}
.hero:not(.corporate-hero) p {
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.2em;
}
.hero:not(.corporate-hero) h1 {
  letter-spacing: 0.4em;
}
.hero * {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .hero {
    max-height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .hero:not(.corporate-hero) .hero-wrapper {
    padding: 1em 0 1.6em;
  }
  .hero:not(.corporate-hero) p {
    font-size: 3.75rem;
    line-height: 1.4;
  }
  .hero:not(.corporate-hero) h1 {
    font-size: 1.125rem;
  }
}

.hero-wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 2;
}

.headline {
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
}
.headline p {
  font-family: "Petersburg", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo, sans-serif;
  font-weight: 800;
  color: #003660;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
}
.headline h2 {
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .headline {
    padding-bottom: 60px;
  }
  .headline p {
    font-size: 2.25rem;
  }
  .headline h2 {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1024px) {
  .headline {
    padding-bottom: 70px;
  }
  .headline p {
    font-size: 2.8125rem;
  }
  .headline h2 {
    font-size: 1.125rem;
  }
}

/*------------------------------------------------
  固定CTA
------------------------------------------------*/
.fixed-content {
  display: flex;
  width: 100%;
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.fixed-content * {
  color: #fff;
}
.fixed-content .tel {
  width: 60%;
  background: #003660;
  padding: 0.7em 0;
}
.fixed-content .tel div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-content .tel div img {
  width: 19px;
  margin-right: 0.5em;
}
.fixed-content .tel div p {
  font-size: 1.3125rem;
  font-weight: 800;
  line-height: 1.2;
}
.fixed-content .tel p {
  white-space: nowrap;
  font-size: 0.625rem;
}
.fixed-content .mail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  background: #5d5d5d;
}
.fixed-content .mail img {
  width: 20px;
  margin-right: 0.5em;
}
.fixed-content .mail p {
  font-weight: 800;
}

.fixed-bnr {
  width: 170px;
  position: sticky;
  right: 20px;
  bottom: 20px;
  z-index: 3;
  margin-left: auto;
  margin-bottom: 20px;
}
.fixed-bnr:hover {
  opacity: 0.85;
}

.pageBtm {
  width: 1px;
  height: 1px;
  visibility: collapse;
}

.front-page .fixed-bnr {
  position: absolute;
  bottom: 0;
}
