@use "foundation";
@use "front";
@use "global" as g;
@function rem($px) {
    @return ($px / 16) * 1rem;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    &:disabled {
        background: g.$color-disabledBg !important;
        &:hover {
            cursor: not-allowed;
        }
    }
}
body {
    width: 100%;
    font-family: g.$font-family1;
    font-style: normal;
    position: relative;
    z-index: 0;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: g.$color-font;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /*Chrome,Safari*/
    -ms-text-size-adjust: 100%; /*EgdeMobile*/
    -moz-text-size-adjust: 100%; /*firefox*/
    background-color: g.$color-pageBg;
}
::selection {
    background: #e1e7eb;
}
//Firefox
::-moz-selection {
    background: #e1e7eb;
}
a * {
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
}

/*------------------------------------------------
  共通
------------------------------------------------*/
@include g.mq-up("md") {
    a[href*="tel:"] {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}
.visuallyhidden {
    width: 1px;
    height: 1px;
    visibility: collapse;
}
.nowrap {
    white-space: nowrap;
}
.underline {
    text-decoration: underline;
}
.min1024,
.min768 {
    display: none;
}
@include g.mq-up("md") {
    .max768 {
        display: none !important;
    }
    .min768 {
        display: block;
    }
}
@include g.mq-up("lg") {
    .max1024 {
        display: none !important;
    }
    .min1024 {
        display: block;
    }
}
section {
    background: #fff;
    padding: 60px 0;
    &:last-child {
        padding: 60px 0 100px;
    }
    @include g.mq-up("lg") {
        padding: 130px 0;
        &:last-child {
            padding: 130px 0 150px;
        }
    }
}
.mainTxt {
    font-size: rem(14);
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
    @include g.mq-up("lg") {
        font-size: rem(17);
        line-height: 1.8;
        margin-bottom: 140px;
    }
}
.defaultBtn {
    width: 60%;
    max-width: 300px;
    color: #fff;
    line-height: 3.8;
    text-align: center;
    letter-spacing: 0.2em;
    background: g.$color-main;
    margin: 0 auto;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 7px;
        height: 10px;
        background: url(../img/arrow_white.svg) center no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1em;
        margin: auto;
    }
}
.backBtn {
    max-width: 190px;
    height: 3.5em;
    line-height: 3.2;
    border: none;
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 1px solid g.$color-black;
    margin: 0 auto;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: g.$color-black;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }
    &:hover {
        color: #fff;
    }
    &:hover::after {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
    span {
        position: relative;
        z-index: 1;
    }
}

/*
  各ページのメインビジュアル、見出し
------------------------------------------------*/
.hero {
    height: 68vw;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
        position: absolute;
        top: 0;
        left: 0;
    }
    &:not(.corporate-hero) {
        background-size: cover;
        .hero-wrapper {
            background: rgba(0, 0, 0, 0.4);
            padding: 0.5em 0 1em;
        }
        p {
            font-family: g.$font-family2;
            font-size: rem(34);
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: 0.2em;
        }
        h1 {
            letter-spacing: 0.4em;
        }
    }
    * {
        color: #fff;
    }
    @include g.mq-up("md") {
        max-height: 400px;
    }
    @include g.mq-up("lg") {
        &:not(.corporate-hero) {
            .hero-wrapper {
                padding: 1em 0 1.6em;
            }
            p {
                font-size: rem(60);
                line-height: 1.4;
            }
            h1 {
                font-size: rem(18);
            }
        }
    }
}
.hero-wrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 2;
}
.headline {
    text-align: center;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
    p {
        font-family: g.$font-family2;
        font-weight: 800;
        color: g.$color-main;
        font-style: normal;
        font-size: rem(30);
        line-height: 1.6;
        letter-spacing: 0.05em;
    }
    h2 {
        letter-spacing: 0.2em;
    }
    @include g.mq-up("md") {
        padding-bottom: 60px;
        p {
            font-size: rem(36);
        }
        h2 {
            font-size: rem(14);
        }
    }
    @include g.mq-up("lg") {
        padding-bottom: 70px;
        p {
            font-size: rem(45);
        }
        h2 {
            font-size: rem(18);
        }
    }
}

/*------------------------------------------------
  固定CTA
------------------------------------------------*/
.fixed-content {
    display: flex;
    width: 100%;
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 3;
    * {
        color: #fff;
    }
    .tel {
        width: 60%;
        background: g.$color-main;
        padding: 0.7em 0;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 19px;
                margin-right: 0.5em;
            }
            p {
                font-size: rem(21);
                font-weight: 800;
                line-height: 1.2;
            }
        }
        p {
            white-space: nowrap;
            font-size: rem(10);
        }
    }
    .mail {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        background: g.$color-gray3;
        img {
            width: 20px;
            margin-right: 0.5em;
        }
        p {
            font-weight: 800;
        }
    }
}

.fixed-bnr {
    width: 170px;
    position: sticky;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    margin-left: auto;
    margin-bottom: 20px;
    &:hover {
        opacity: 0.85;
    }
}
.pageBtm {
    width: 1px;
    height: 1px;
    visibility: collapse;
}
.front-page {
    .fixed-bnr {
        position: absolute;
        bottom: 0;
    }
}
