@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}

.contact01-hero {
    background: url(../img/contactimg/to01.png) center no-repeat;
    p {
        font-size: rem(26)!important;
        font-family: g.$font-family2 !important;
    }
}
a.contactBtn {
    font-weight: 600;
    padding-right: 1em;
}

.max1024 {
    @include g.mq-up("md") {
        display: none !important;
    }
    @include g.mq-up("sm") {
        display:block;
    }
}

.form_wrap{
        font-family: g.$font-family2 !important;
        @include g.mq-up("xs"){
            width: 95%;
        }
        span.danger {
            display: inline-block;
            background: #cc3131;
            color: g.$color-pageBg;
            border-radius: 5px;
            padding: 1px 4px;
            font-size: rem(5);
            font-weight: 700;
            text-align: center;
            margin: 5px 0;
            width: auto;
            vertical-align: 3px;
        }
        h3{
            border-left: 15px g.$color-main solid;
            margin: 30px 0 20px;
            text-indent: 10px;
            font-size: rem(20);
            font-weight: 500;
            span.danger {
                text-indent: 0;
                margin-left: 10px;
            }
        }
        .sepalate {
            label{
                display: inline-block;
            }
        }
        label {
            margin: 5px 0;
            align-items: center;
            display: inline-block;
            span.danger {
                text-indent: 0;
                margin-left: 10px;
            }
            input{
                background: #FFF;
            }
            input[type="text"],
            textarea {
                box-sizing: border-box;
                padding: 3px 5px;
                border: solid 2px #EDEFF7;
                vertical-align:-2px;
                margin: 4px 10px ;
                border-radius: 5px;
                width: 200px;
                &:focus {
                    border-color: #529fff;
                    outline: 0;
                }
        }
                select{
                padding: 3px 5px;
                border: solid 2px #EDEFF7;
                width: 140px;
                border-radius: 5px;
                &[name="month"],
                &[name="day"] {
                    width: 60px;
                }
            }
            form{
                margin: 20px 0;
            }
        }
        h5{
            font-size: rem(15);
            background: #EDEFF7;
            padding: 10px 0 10px 15px;
            font-weight: 500;
            margin: 12px 0;
            span.danger {
                display: inline-block;
                margin: 0 10px;
            }
            span{
                font-size: rem(4);
                color: #7C7C7C;
            }
        }
        span.ss{
            font-size: rem(4);
            color: #7C7C7C;
        }
        h4{
            margin: 12px 0;
            color: #FFF;
            font-size: rem(13);
            font-weight: 500;
            background: #16528E;
            padding: 5px 0 5px 15px;
        }
        #movein{
            background: #fafafa;
            margin: 10px auto;
            width: 95%;
        }
        button.add,
        input#btnAddform{
            margin: 0 auto;
            display: block;
            background: #16528E;
            color: #FFF;
            border: none;
            border-radius: 5px;
            padding: 5px 100px;
            cursor: pointer;
        }
        input:invalid {
            background:#fccaca;
        }
        button.btnDeleat{
            display:inline-block;
            margin: 0 auto;
            background: #f8f8f8;
            color: #7C7C7C;
            border: #c9c9c9 solid 2px;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            }
        #omote img{
            width: 200px;
            margin: 10px;
            border: solid 1px silver;
        }
        .submit_btn{
            margin: 0 auto;
            display: block;
            color: g.$color-pageBg;
            background:g.$color-main;
            padding: 15px 60px;
            border: none;
            font-size: rem(16);
            letter-spacing: 2px;
            font-weight: 600;
        }
        input.backbtn {
            margin: 1rem auto;
            display: block;
            color: g.$color-pageBg;
            background: #9b9b9b;
            padding: 15px 40px;
            line-height: normal;
            border: none;
            font-size: rem(14);
            letter-spacing: 2px;
            font-weight: 600;
        }

        .hidden_box {
            margin: 2em 0;
            /*前後の余白*/
            padding: 0;
        }

        /*ボタン装飾*/
        .hidden_box label {
            padding: 5px;
            font-weight: bold;
            border: solid 2px black;
            cursor: pointer;
        }
        .hidden_box input {
            display: none;
        }
        /*中身を非表示にしておく*/
        .hidden_box .hidden_show {
            padding: 0;
            overflow: hidden;
            opacity: 0;
            height: 0;
        }
        li.non{
            transition: 0.8s;
            display: none;
        }
    }






