@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}

.contact03-hero {
    background: url(../img/contactimg/to03.png) center no-repeat;
    p {
        font-size: rem(26) !important;
        @include g.mq-up("sm") {
            font-size: rem(15);
            font-family: g.$font-family2 !important;
        }
    }
}
a.contactBtn {
    font-weight: 600;
    padding-right: 1em;
}
.form_wrap{
    font-family: g.$font-family2 !important;
    @include g.mq-up("sm") {
        width: 95%;
    }
    a.submit_btn {
            display: block;
            color: #fff;
            width: 300px;
            text-align: center;
            background: #003660;
            padding: 15px 60px;
            border: none;
            font-size: 1rem;
            letter-spacing: 2px;
            font-weight: 600;
            margin: 0 auto;
        }
    }










