@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}

.contact02-hero {
    background: url(../img/contactimg/to02.png) center no-repeat;
    p {
        font-size: rem(26)!important;
        font-family: g.$font-family2 !important;
    }
}
a.contactBtn {
    font-weight: 600;
    padding-right: 1em;
}
.form_wrap{
    .route_wrap{
        label{
            display:grid;
            @include g.mq-up("md") {
                display:inline-grid;
                justify-items: start;
                justify-content: space-between;
                width: 40%;
            }
            input{
                min-width: 250px;
                max-width: 300px;
                width: 100%;
            }
        }
    }
    .conditions_wrap {
        align-content: initial;
        justify-content: space-around;
        label{
            display: inline-block;
            width: 48%;
            @include g.mq-up("md") {
                justify-items: start;
                justify-content: space-between;
                width: 20%;
                display: inline-block;
            }
        }
    }
p.margin{
            margin: 1rem 0;
        }
    label{
        #freetxbox {
            height: 200px;
            max-width: 100%;
            width: 25em;
            @include g.mq-up("md") {
                width: 40em;
            }
        }
    }
}









