@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}

.contact-hero {
    background: url(../img/contact_mv.jpg) center no-repeat;
}
a.contactBtn {
    font-weight: 600;
    padding-right: 1em;
}

.max1024 {
    @include g.mq-up("md") {
        display: none !important;
    }
    @include g.mq-up("sm") {
        display:block;
    }
}
.form_wrap{
    display: block;
    max-width: 1000px;
    margin: 0 auto 16rem;
    p{
        .center{
            text-align:center !important;
        }
    }
    ul#request li {
        background: #000 url(../img/contactimg/to01.png) no-repeat;
        position: relative;
        margin: 2.5rem auto;
        height: 160px;
        background-size:50% auto contain;
        vertical-align: middle;
        border: 1px solid #000;
        display: grid;
        place-items: center;

        &:nth-child(2){
            background: #000 url(../img/contactimg/to02.png) no-repeat;
        }
        &:nth-child(3){
            background: #000 url(../img/contactimg/to03.png) no-repeat;
        }
        &::before {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .65);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            @include g.mq-up("md") {
                display: none;
            }
        }
        @include g.mq-up("sm") {
            width: 95%;
        }
        a.branch{
            place-items: center;
            color: #fff;
            width: 100%;
            text-align: center;
            z-index: 10;
            @include g.mq-up("lg") {
                width: 50%;
                transform: translateX(53%);
            }
            @include g.mq-down("sm") {
                width: 100%;
                transform: translateX(0%);
            }
            &::after {
                content: url(../../../img/rightarrow.svg);
                position: absolute;
                right: 13%;
                @include g.mq-up("md") {
                    content: url(../../../img/rightarrow.svg);
                    position: absolute;
                    right: 15%;
                }
            }
        }
    }
}


