@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}
.corporate-hero {
    background: url(../img/bout_mv.jpg) center no-repeat;
    background-size: cover;
    h1 {
        font-size: rem(20);
        font-weight: 600;
        line-height: 1.8;
        letter-spacing: 0.25em;
    }
    @include g.mq-up("lg") {
        h1 {
            font-size: rem(30);
        }
    }
}

/*------------------------------------------------
  代表挨拶
------------------------------------------------*/
.topMessage {
    .content {
        max-width: 1300px;
        padding: 0 20px;
        margin: auto;
        .txt {
            margin-bottom: 2em;
            p {
                margin-bottom: 0.8em;
            }
        }
        .sign {
            p {
                font-size: rem(12);
                line-height: 1.8;
                font-weight: 800;
                text-align: right;
            }
            span {
                font-size: rem(15);
                margin-left: 0.5em;
            }
        }
    }
    @include g.mq-up("lg") {
        .content {
            .txt {
                p {
                    font-size: rem(16);
                }
            }
            .sign {
                p {
                    font-size: rem(14);
                }
                span {
                    font-size: rem(18);
                }
            }
        }
    }
}

/*------------------------------------------------
  会社概要
------------------------------------------------*/
.company {
    background: none;
    position: relative;
    * {
        color: #fff !important;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100vh;
        background: url(../img/company_bg.jpg) bottom center no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
    }
    .headline {
        p::after {
            background: #fff;
        }
    }
    .content {
        max-width: 1200px;
        padding: 0 20px;
        margin: auto;
        position: relative;
        z-index: 2;
    }
    dl {
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    dt {
        font-family: g.$font-family3;
        font-style: normal;
        letter-spacing: 0.1em;
        opacity: 0.6;
    }
    @include g.mq-up("md") {
        dl {
            display: flex;
        }
        dt {
            width: 30%;
            text-align: center;
        }
    }
    @include g.mq-up("lg") {
        dl {
            padding: 15px 0;
        }
        dt,
        dd {
            font-size: rem(15);
        }
        dt {
            width: 280px;
        }
        dd {
            width: 70%;
            ul {
                display: flex;
                flex-wrap: wrap;
                li:not(:last-child)::after {
                    content: "、";
                }
            }
        }
    }
}

/*------------------------------------------------
  アクセス
------------------------------------------------*/
.access {
    background: g.$color-gray1;
    .content {
        max-width: 1200px;
        padding: 0 20px;
        margin: auto;
    }
    picture {
        display: block;
        width: 280px;
        margin: 0 auto 20px;
    }
    iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    table {
        background: #fff;
        border: none;
        margin-top: 20px;
    }
    tr:not(:last-child) {
        th {
            border-bottom: 1px solid #fff;
        }
        td {
            border-bottom: 1px solid g.$color-gray2;
        }
    }
    th,
    td {
        vertical-align: middle;
        padding: 10px;
    }
    th {
        width: 28%;
        font-family: g.$font-family3;
        font-style: normal;
        font-size: rem(12.5);
        color: rgb(165, 165, 165);
        background: g.$color-gray2;
    }
    @include g.mq-up("md") {
        picture {
            width: 450px;
        }
        iframe {
            height: 450px;
        }
        .wrapper {
            display: flex;
            img {
                max-width: 330px;
                margin-right: 20px;
            }
        }
        table {
            margin: 0;
        }
    }
    @include g.mq-up("lg") {
        picture {
            width: 600px;
            margin: 0 auto 30px;
        }
        th,
        td {
            font-size: rem(14);
        }
    }
    //社内写真
    ul.copoImg{
            margin: 20px auto;
        img{
            object-fit: cover;
            margin: auto;
            opacity: .3;
            transform: scale(.9);
            transition: opacity .5s, transform .7s;
            @include g.mq-up("sm") {
                height: 125px;
                width: 225px;
            }
            @include g.mq-up("md") {
                height: 100px;
                width: 160px;
                opacity: 1;
            }
            @include g.mq-up("lg") {
                height: 300px;
                width: 510px;
                opacity: .3;
            }
        }
        .slick-center img,
        .slick-active img {
            transform: scale(1); // 中央のスライドは小さくしない
            opacity: 1; // 中央のスライドは透過しない
            }
        }
    }


/*------------------------------------------------
  役員紹介
------------------------------------------------*/
.member {
    .content {
        max-width: 1200px;
        padding: 0 20px;
        margin: auto;
    }
    .member_content {
        &:not(:last-child) {
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 20px;
            margin-bottom: 30px;
        }
    }
    .member_left {
        padding: 0 20px;
    }
    dl {
        text-align: center;
        margin: 10px 0 15px;
    }
    dt {
        font-size: rem(16);
    }
    dd {
        &::before, &::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 1px;
            background: #000;
            vertical-align: middle;
            margin: 0 7px;
        }
    }
    th, td {
        display: block;
    }
    th {
        font-size: rem(12);
        color: #959595;
        text-align: center;
        background: g.$color-gray1;
        padding: .2em 0;
    }
    td {
        padding: .5em 0 1.2em;
    }
    .experience {
        text-align: center;
        padding: 0 0 1.2em;
    }
    @include g.mq-up("md") {
        .member_content {
            display: flex;
            align-items: flex-start;
            margin-bottom: 40px;
        }
        .member_left {
            width: 50%;
            max-width: 350px;
        }
    }
    @include g.mq-up("lg") {
        .member_content {
            min-height: 420px;
            padding: 0 !important;
            margin: 0 !important;
            border: none !important;
            &:not(.show) {
                display: none;
            }
        }
        .member_left {
            padding: 0;
        }
        dl {
            margin: 10px 0 5px;
        }
        tbody {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto auto auto;
        }
        tr {
            height: auto;
        }
        tr:last-child {
            grid-row: 1 / 5;
            grid-column: 2;
        }
        tr:not(:last-child) {
            margin: 0 30px;
        }
        td {
            font-size: rem(14);
        }
        .tab-are {
            display: flex;
            align-items: flex-start;
        }
        .tab {
            width: 200px;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px;
            * {
                cursor: pointer;
            }
            .photo {
                width: 180px;
                background: #000;
                overflow: hidden;
                img {
                    transition-duration: .3s;
                }
            }
            &:hover {
                img {
                    transition-duration: .3s;
                    transform: scale(1.15);
                    opacity: .8;
                }
            }
            &.active {
                background: #0036601a
            }
        }
    }
}

/*------------------------------------------------
  会社沿革
------------------------------------------------*/
.history {
    .content {
        max-width: 1300px;
        border-left: 1px solid #000;
        margin: 0 20px;
        padding: 20px 0;
        li:not(:last-child) {
            margin-bottom: 1.5em;
        }
        .date {
            position: relative;
            margin-bottom: 0.3em;
            &::before {
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                border: 2px solid #fff;
                background: g.$color-main;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -5.5px;
                margin: auto;
                z-index: 3;
            }
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: #000;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }
            p {
                display: inline-block;
                background: #fff;
                padding: 0 0.8em;
                margin: 0 20px;
                position: relative;
                z-index: 2;
            }
        }
        .txt {
            margin-left: calc(20px + 0.8em);
        }
    }
    @include g.mq-up("lg") {
        li {
            p {
                font-size: rem(14);
            }
            &:not(:last-child) {
                margin-bottom: 2em;
            }
        }
    }
    @include g.mq-up("xl") {
        .content {
            margin: auto;
        }
    }
}
