@use "../../global" as g;
@function rem($px) {
    @return ($px / 16) * 1rem;
}

.top-hero {
    position: relative;
    width: auto;
    height: 100vw;
    max-height: 700px;
    padding: 0 !important;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
    .logo {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 48%;
        max-width: 300px;
        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.4));
        z-index: 2;
    }
    video {
        height: 100%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 77%;
        transform: translateX(-77%) translateY(-50%);
    }
    .swiper-slide-active .slide-img,
    .swiper-slide-duplicate-active .slide-img,
    .swiper-slide-prev .slide-img {
        animation: zoomUp 10s linear 0s 1 normal both;
    }
    .slide-img {
        height: 100vw;
        max-height: 700px;
    }
    .slide-img img {
        display: block;
        width: auto;
        height: 100vw;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    @keyframes zoomUp {
        0% {
            transform: scale(1.3);
        }

        100% {
            transform: scale(1);
        }
    }
    @media screen and (min-width: 800px) {
        .slide-img img {
            width: 100%;
            height: auto;
        }
    }
    @media screen and (min-width: 1200px) {
        video {
            height: auto;
            width: 100%;
        }
    }
}

.pageLinks {
    padding: 0 !important;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        width: 100%;
        height: 40vw;
        max-height: 200px;
        position: relative;
        border-top: 0.5px solid #fff;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.75);
        }
        &:first-child {
            background: url(../img/bout_mv.jpg) center no-repeat;
            background-size: cover;
        }
        &:nth-child(2) {
            background: url(../img/service_mv.jpg) center no-repeat;
            background-size: cover;
        }
        &:nth-child(3) {
            background: url(../img/results_mv.jpg) center no-repeat;
            background-size: cover;
        }
        &:nth-child(4) {
            background: url(../img/recruit_mv.jpg) center no-repeat;
            background-size: cover;
        }
        &:nth-child(5) {
            background: url(../img/contact_mv.jpg) center no-repeat;
            background-size: cover;
        }
        a {
            width: 100%;
            height: 100%;
            color: #fff;
            position: relative;
            z-index: 2;
        }
        div {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
        p,
        h2 {
            z-index: 2;
            position: relative;
        }
        p {
            font-family: g.$font-family2;
            font-weight: 400;
            font-size: rem(30);
            line-height: 1.5;
            letter-spacing: 0.1em;
        }
        h2 {
            font-weight: 600;
            letter-spacing: 0.2em;
        }
        .arrow {
            display: block;
            width: 60px;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.3s;
            img {
                width: 7px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: calc(100% / 2 - (7px / 2));
                margin: auto;
                transition: all 0.3s;
            }
        }
    }
    @include g.mq-up("md") {
        li {
            width: calc(50% - 0.5px);
            &:last-child {
                width: 100%;
            }
        }
    }
    @include g.mq-up("lg") {
        li {
            &::before {
                background: rgba(0, 0, 0, 0.7);
                transition: all 0.3s;
            }
            &.active {
                .arrow {
                    width: 150px;
                    transition: all 0.3s;
                    img {
                        width: 15px;
                        transition: all 0.3s;
                    }
                }
                &::before {
                    background: rgba(0, 0, 0, 0.75);
                    transition: all 0.3s;
                }
            }
            div {
                left: 5%;
            }
            p {
                font-size: rem(35);
            }
            h2 {
                font-size: rem(16);
            }
            .arrow {
                width: 100px;
                img {
                    width: 10px;
                }
            }
        }
    }
}
