@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}

.privacy {
    padding: 0 0 100px !important;
    .content {
        padding: 30px 20px;
    }
    h1 {
        font-size: rem(15);
        color: #fff;
        line-height: 3;
        text-align: center;
        background: g.$color-black;
    }
    .block {
        margin-bottom: 20px;
    }
    h2, h3 {
        font-size: rem(14);
        line-height: 2.4;
        text-align: center;
        margin-bottom: .5em;
    }
    h3 {
        background: g.$color-gray1;
    }
}