@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}

.recruit-hero {
    background: url(../img/recruit_mv.jpg) center no-repeat;
}

.recruit {
    background: none;
    .mainTxt {
        a {
            display: inline-block;
            font-size: inherit;
            text-decoration: underline;
        }
    }
    .pattern {
        background: none;
        margin-bottom: 80px;
        h2 {
            display: flex;
            justify-content: center;
            margin-bottom: .5em;
            span {
                display: block;
                font-size: rem(19);
                font-weight: 800;
                margin: 0 .01em;
                &:nth-child(2n+1) {
                    color: g.$color-green;
                }
                &:nth-child(2n) {
                    color: g.$color-main;
                }
            }
        }
        .content {
            display: flex;
            * {
                color: #fff;
            }
            & > div {
                width: 50%;
                padding: 2em 0;
            }
            img {
                width: auto;
                height: 70px;
                margin: 2em auto;
            }
            h3 {
                font-size: rem(13.5);
                font-family: g.$font-family3;
                white-space: nowrap;
                text-align: center;
            }
            p {
                padding: 0 10px;
            }
            .myOunPace {
                position: relative;
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: g.$color-green;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
            }
        }
        .aggressive {
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: g.$color-main;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }
        }
    }
    @include g.mq-up("lg") {
        padding: 130px 0 0;
        .pattern {
            margin-bottom: 130px;
            h2 {
                margin: 1em;
                span {
                    font-size: rem(34);
                }
            }
            .content {
                & > div {
                    padding: 35px 0;
                }
                h3 {
                    font-size: rem(20);
                }
                img {
                    height: 100px;
                    margin: 2.5em auto;
                }
                p {
                    font-size: rem(15);
                    text-align: center;
                }
            }
        }
    }
}

.message {
    .wrapper {
        position: relative;
        h4 {
            font-family: g.$font-family3;
            font-size: rem(15);
            line-height: 1.5;
        }
        .mw1 {
            margin-bottom: 30px;
            img {
                width: calc(100% - 20px);
            }
            .txt {
                width: 80%;
                background: #fff;
                padding: 20px;
                margin: -20% 0 0 auto;
                box-shadow: 0 2px 15px #0000000f;
                position: relative;
                z-index: 2;
            }
            h4 {
                margin-bottom: .5em;
            }
        }
        .mw2 {
            text-align: center;
            background: g.$color-gray1;
            padding: 30px 20px;
            h4 {
                display: inline-block;
                background: #fff;
                border-radius: 3em;
                text-align: center;
                padding: .2em 1.5em;
                margin-bottom: 1em;
            }
            p {
                text-align: left;
            }
        }
    }
    @include g.mq-up("md") {
        .wrapper {
            .mw1 {
                display: flex;
                align-items: flex-start;
                img {
                    width: 60%;
                }
                .txt {
                    width: 100%;
                    margin: 0;
                    box-shadow: none;
                }
            }
            .mw2 {
                width: 90%;
                margin: auto;
            }
        }
    }
    @include g.mq-up("lg") {
        .wrapper {
            .mw1 {
                h4 {
                    font-size: rem(20);
                }
                .txt {
                    padding: 30px 30px 40px;
                }
                p {
                    font-size: rem(16);
                }
            }
            .mw2 {
                padding: 30px;
                h4 {
                    font-size: rem(16);
                }
                p {
                    font-size: rem(14);
                }
            }
        }
    }
}

.moving-flow {
    .content {
        max-width: 1000px;
        padding: 0 20px;
        margin: auto;
    }
    .box {
        background: g.$color-gray1;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 26px;
            &::after {
                content: "";
                display: block;
                border-style: solid;
                border-color:  g.$color-gray3 transparent transparent transparent;
                border-width: 8px;
                position: absolute;
                left: 50%;
                top: calc(100% + 8px);
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
            }
        }
        h4 {
            color: #fff;
            line-height: 2.4;
            text-align: center;
            background: g.$color-gray3;
        }
        .box-content {
            display: flex;
            align-items: center;
            padding: 15px;
            img {
                width: 80px;
                margin-right: 15px;
            }
        }
    }
    @include g.mq-up("lg") {
        padding: 130px 0 50px;
        .box {
            h4 {
                font-size: rem(16);
            }
            p {
                font-size: rem(15);
                line-height: 2.6;
            }
        }
    }
}

.description {
    .content {
        max-width: 1000px;
        margin: auto;
        .txt, .txt span {
            text-align: center;
            font-weight: 600;
            margin-bottom: 40px;
        }
    }
    table {
        margin-bottom: 40px;
    }
    tr {
        display: block;
        &:not(:last-child) {
            margin: 0 auto 15px;
        }
    }
    th, td {
        display: block;
        width: 100%;
        text-align: left;
    }
    th {
        background: g.$color-gray1;
        padding: .3em 20px;
    }
    td {
        padding: .5em 20px;
        p {
            margin-left: 1rem;
            &.kome::before {
                content: "※";
                margin-left: -1rem;
            }
        }
    }
    .resources li, .education li {
        padding-left: 10px;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #000;
            position: absolute;
            top: .7em;
            left: 0;
        }
    }
    .treatment li {
        margin-left: 1rem;
        &::before {
            content: "■";
            margin-left: -1rem;
        }
    }
    @include g.mq-up("lg") {
        .content {
            .txt, .txt span {
                font-size: rem(17);
                line-height: 1.8;
            }
        }
        table {
            margin-bottom: 60px;
        }
        tr:not(:last-child) {
            margin: 0 auto 20px;
        }
        th, td {
            padding: 0.4em 30px;
        }
        th {
            font-size: rem(15);
            border-left: 5px solid g.$color-gray2;
        }
        td {
            font-size: rem(14);
        }
    }
}
