@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}

/*------------------------------------------------
  一覧
------------------------------------------------*/
.results-hero {
    background: url(../img/results_mv.jpg) center no-repeat;
}

.results-body {
    background: g.$color-gray2;
}
.results {
    max-width: 1300px;
    background: g.$color-gray2;
    margin: auto;
    padding: 40px 20px 100px !important;
    article {
        background: #fff;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    h2 {
        font-size: rem(15);
        color: #fff;
        line-height: 2.6;
        text-align: center;
        background: rgb(20, 20, 20);
        background: linear-gradient(
            174deg,
            rgba(20, 20, 20, 1) 0%,
            rgba(20, 20, 20, 1) 50%,
            rgba(40, 40, 40, 1) 50%,
            rgba(40, 40, 40, 1) 100%
        );
    }
    .content {
        padding: 15px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        width: calc(100% / 2 - 7px);
        max-width: 290px;
        &:not(:last-of-type) {
            margin-bottom: 13px;
        }
        &:nth-last-of-type(2) {
            margin: 0;
        }
        img {
            height: 25vw;
            max-width: 290px;
            max-height: 200px;
            object-fit: cover;
            margin-bottom: 0.4em;
        }
        p {
            font-size: rem(12);
            line-height: 1.4;
            font-weight: 600;
            text-align: center;
            letter-spacing: 0;
            span {
                white-space: nowrap;
            }
        }
    }
    .property {
        background: #f6f8f9;
        margin-top: 15px;
        padding: 10px 10px 10px 25px;
        li {
            font-size: rem(12);
            width: 100%;
            max-width: 100%;
            margin: 0;
            &::before {
                content: "・";
                margin-left: -12px;

            }
        }
    }
    @include g.mq-up("md") {
        padding: 60px 40px 100px!important;
        .content {
            padding: 20px;
        }
        ul {
            justify-content: left;
        }
        li {
            width: calc(100% / 3 - 30px);
            max-width: 100%;
            margin: 0 15px 20px !important;
            img {
                max-width: 100%;
            }
            p {
                font-size: rem(13);
            }
        }
        .property {
            padding: 10px 15px;
            margin: 0;
            li {
                width: auto;
                display: inline-block;
                font-size: rem(13);
                line-height: 2;
                margin: 0 !important;
                &::before {
                    display: none;
                }
                &::after {
                    content: "";
                    display: inline-block;
                    width: 20px;
                }
            }
        }
    }
    @include g.mq-up("lg") {
        .content {
            padding: 30px;
        }
        article:not(:last-child) {
            margin-bottom: 40px;
        }
        h2 {
            font-size: rem(20);
        }
        li {
            width: calc(100% / 4 - 30px);
            img {
                margin-bottom: .6em;
            }
            p {
                font-size: rem(14);
            }
        }
        .property {
            padding: 13px 20px;
            li {
                font-size: rem(14);
            }
        }
    }
}
.results-body footer::before {
    background: g.$color-gray2;
}

/*------------------------------------------------
  各物件詳細ページ
------------------------------------------------*/
.results-page {
    padding-top: 0 !important;
    h1 {
        font-size: rem(15);
        color: #fff;
        line-height: 2.6;
        text-align: center;
        background: rgb(20, 20, 20);
        background: linear-gradient(
            174deg,
            rgba(20, 20, 20, 1) 0%,
            rgba(20, 20, 20, 1) 50%,
            rgba(40, 40, 40, 1) 50%,
            rgba(40, 40, 40, 1) 100%
        );
    }
    img {
        max-width: 900px;
        max-height: 600px;
        object-fit: cover;
        padding: 15px 20px;
        margin: auto;
    }
    table {
        margin: 0 auto 30px;
        tr {
            display: flex;
            justify-content: center;
            padding: 1em 20px;
            &:nth-of-type(odd) {
                background: g.$color-gray1;
            }
        }
        th {
            width: 25%;
            max-width: 200px;
            text-align: left;
        }
        td {
            width: 75%;
            max-width: 700px;
        }
    }
    @include g.mq-up("md") {
        padding-bottom: 100px !important;
    }
    @media screen and (min-width: 900px) {
        img {
            padding: 30px 0;
        }
    }
    @include g.mq-up("lg") {
        h1 {
            font-size: rem(20);
        }
        table {
            margin: 0 auto 50px;
        }
        td, dd {
            font-size: rem(14);
        }
    }
}
