@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}

.service-hero {
    background: url(../img/service_mv.jpg) center no-repeat;
}

.service {
    video {
        display: block;
        width: 100%;
        max-width: 600px;
        padding: 0 20px;
        margin: 0 auto 1.5em;
    }
    .link-block {
        .bgImg {
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .title {
            position: absolute;
            top: -1.5em;
            p {
                &:first-of-type {
                    font-family: g.$font-family2;
                    font-size: rem(28);
                    line-height: 1.3;
                    font-weight: 800;
                }
                &:nth-of-type(2) {
                    font-size: rem(14);
                    font-weight: 800;
                }
            }
        }
        .btn-wrap {
            position: absolute;
            bottom: 10px;
            a {
                color: #fff;
                background: g.$color-black;
                position: relative;
                padding: 0.4em 50px 0.4em 20px;
                &:not(:last-child) {
                    margin-bottom: 0.5em;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 0.5em;
                    height: 0.5em;
                    background: url(../img/arrow_white.svg) center no-repeat;
                    background-size: contain;
                    transform: rotate(90deg);
                    position: absolute;
                    right: 1em;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: 2;
                }
            }
        }
        .rent {
            position: relative;
            margin-right: 35px;
            margin-bottom: 50px;
            .bgImg::after {
                background: rgb(246, 247, 247);
                background: linear-gradient(
                    270deg,
                    rgb(255, 255, 255) 0%,
                    rgba(246, 247, 247, 1) 20%,
                    rgba(255, 255, 255, 0) 100%
                );
            }
            .title {
                text-align: right;
                right: -15px;
            }
            .btn-wrap {
                right: 0;
            }
        }
        .buy {
            position: relative;
            margin-left: 35px;
            .bgImg::after {
                background: rgb(246, 247, 247);
                background: linear-gradient(
                    90deg,
                    rgb(255, 255, 255) 0%,
                    rgba(246, 247, 247, 1) 20%,
                    rgba(255, 255, 255, 0) 100%
                );
            }
            .title {
                text-align: left;
                left: -15px;
            }
            .btn-wrap {
                left: 0;
            }
        }
    }
    @include g.mq-up("md") {
        .link-block {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .bgImg::after {
                top: 0.5px;
                left: 0.5px;
            }
            .buy {
                .title {
                    left: auto;
                    right: -1.5em;
                    text-align: right;
                }
                img {
                    transform: scale(-1, 1);
                }
                .btn-wrap {
                    left: auto;
                    right: 0;
                }
                .bgImg::after {
                    background: rgb(246, 247, 247);
                    background: linear-gradient(
                        270deg,
                        rgb(255, 255, 255) 0%,
                        rgba(246, 247, 247, 1) 20%,
                        rgba(255, 255, 255, 0) 100%
                    );
                }
            }
        }
        .rent,
        .buy {
            width: 40%;
            margin: 0;
        }
    }
    @include g.mq-up("lg") {
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 150px;
            video {
                width: 50%;
                padding: 0 30px;
                margin: 0 20px 0 0;
            }
            .mainTxt {
                line-height: 2.1;
                text-align: left;
                margin: 0;
            }
        }
        .link-block {
            .title {
                top: -2em;
                p {
                    &:first-of-type {
                        font-size: rem(46);
                    }
                    &:nth-of-type(2) {
                        font-size: rem(16);
                    }
                }
            }
            .btn-wrap {
                a {
                    font-size: rem(15);
                    padding: 0.5em 80px 0.5em 30px;
                }
            }
        }
    }
}

.service-contents {
    background: none;
    padding: 0 0 100px !important;
    .headBg {
        position: relative;
        margin-right: 20px;
    }
    .title {
        display: flex;
        align-items: center;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.2em 20px;
        p {
            font-family: g.$font-family2;
            font-size: rem(23);
            font-weight: 800;
        }
        h2 {
            font-size: rem(15);
            font-weight: 800;
            position: relative;
            padding-left: 1.1em;
            margin-left: 0.5em;
            &::before {
                content: "";
                display: block;
                width: 0.6em;
                height: 1px;
                background: #000;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    .content {
        margin-top: -2em;
        margin-left: 20px;
        position: relative;
        z-index: 2;
        .block {
            padding: 20px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        h3 {
            font-size: rem(15);
            font-weight: 800;
            line-height: 1.5;
            letter-spacing: 0.15em;
        }
    }
    .rent {
        position: relative;
        margin-bottom: 80px;
        &::before {
            content: "";
            width: 100%;
            height: calc(100% - 0.5em);
            position: absolute;
            background: g.$color-gray2;
            top: 3em;
            left: 0;
            z-index: -1;
        }
        .block {
            background: #fff;
        }
        h3 {
            border-left: 3px solid g.$color-main;
            padding-left: 12px;
            margin-bottom: 0.8em;
        }
    }
    .buy {
        .block {
            background: g.$color-gray1;
        }
        h3 {
            text-align: center;
            margin-bottom: 1em;
        }
    }
    @include g.mq-up("md") {
        .headBg {
            width: 80%;
            max-width: 1000px;
        }
        .content {
            margin-top: -10%;
        }
    }
    @include g.mq-up("lg") {
        .title {
            padding: 0.2em 30px;
            p {
                font-size: rem(34);
            }
            h2 {
                font-size: rem(17);
                margin-left: 1em;
                padding-left: 1.6em;
            }
        }
        .content {
            width: 60%;
            max-width: 900px;
            margin-top: -350px;
            margin-left: auto;
            margin-right: 30px;
            .block {
                padding: 30px;
                &:not(:last-child) {
                    margin: 0;
                    padding: 30px 30px 10px;
                }
                p {
                    font-size: rem(15);
                }
            }
            h3 {
                font-size: rem(18);
            }
        }
        .rent {
            margin-bottom: 180px;
            &::before {
                height: calc(100% + 10px);
            }
        }
        .buy {
            h3 {
                font-size: rem(19);
            }
        }
    }
}
