// =============================================================================
// svgフォント用のfunction
//任意の文字列を探し出し置換
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// font-faceを吐き出すmixin
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf woff ttf) {
    $src: null;

    $extmods: (
        //eot: “?”, 古いIE用のkeyを設定する用だが割愛。一応記載しておきます。
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype",
        eot: "embedded-opentype",
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
@include font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@include font-face("NSerifJP", "../fonts/NotoSerifJP-Medium", 400, normal, otf);
@include font-face("NSerifJP", "../fonts/NotoSerifJP-SemiBold", 600, normal, otf);
@include font-face("NSerifJP", "../fonts/NotoSerifJP-Bold", 800, normal, otf);