/* メディアクエリ */
$sizes: xl, lg, md, sm, xs;

/* min-width */
$breakpoint-up: (
    "xs": "screen and (min-width: 330px)",
    "sm": "screen and (min-width: 376px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1024px)",
    "xl": "screen and (min-width: 1440px)",
) !default;

/* max-width */
$breakpoint-down: (
    "xs": "screen and (max-width: 329px)",
    "sm": "screen and (max-width: 375px)",
    "md": "screen and (max-width: 767px)",
    "lg": "screen and (max-width: 1023px)",
    "xl": "screen and (max-width: 1439px)",
) !default;

/* min and max */
$breakpoint-range: (
    "xs": "screen and (min-width: 0px) and (max-width: 329px)",
    "sm": "screen and (min-width: 330px) and (max-width: 375px)",
    "md": "screen and (min-width: 376px) and (max-width: 767px)",
    "lg": "screen and (min-width: 768px) and (max-width: 1023px)",
    "xl": "screen and (min-width: 1024px) and (max-width: 1439px)",
    "sp": "screen and (min-width: 0px) and (max-width: 767px)",
) !default;

/* @mixinの定義 */
@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}
@mixin mq-down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}
@mixin mq-range($breakpoint: md) {
    @media #{map-get($breakpoint-range, $breakpoint)} {
        @content;
    }
}
