@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}
footer {
    width: 100%;
    background: #f3f3f3;
    position: relative;
    padding: 40px 0 0;
    .logo {
        width: 140px;
        margin: 0 auto 40px;
    }
    .footer_linkGroup {
        padding: 0 20px 15px;
        .title {
            font-weight: 800;
            color: #9f9f9f;
            margin-bottom: .2em;
        }
        a {
            color: #000;
            font-weight: 600;
            border: none;
        }
    }
    small {
        display: block;
        font-size: rem(10);
        color: g.$color-gray3;
        text-align: center;
        padding: 15px 0;
    }
    .Fcontact {
        width: 200px;
        text-align: center;
        margin: 0 auto;
    }
    .bnr_wrap {
        a {
            width: calc(100% - 40px);
            max-width: 270px;
            margin: 10px auto;
            img {
                border: 1px solid g.$color-main;
            }
        }
    }
    a.suumoBnr {
        margin: 20px auto 10px;
        img {
            border: 1px solid g.$color-black;
        }
    }
    @include g.mq-up("md") {
        padding: 40px 0 40px;
        .inner {
            width: calc(100% - 60px);
            max-width: 950px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            width: 150px;
        }
        .Fcontact {
            margin: 0 auto 10px;
        }
        .footer_contents {
            display: flex;
            align-items: flex-start;
        }
        .footer_linkGroup {
            padding: 0 25px 15px;
            &.link div {
                width: 210px;
                max-height: 80px;
                display: flex;
                justify-content: center;
                flex-flow: column wrap;
            }
            a {
                display: inline-block;
                background: none;
                border: none;
                border-radius: 5px;
                &:hover {
                    color: g.$color-main;
                    background-color: #e1e7eb;
                }
            }
        }
        small {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
        .bnr_wrap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0 10px;
            a {
                margin: 0 20px;
                img {
                    width: auto;
                    max-height: 95px;
                }
            }
            a:hover {
                opacity: 0.8;
            }
        }
    }
    @media screen and (min-width:940px) {
        .logo {
            margin: 0;
        }
    }
    @media screen and (min-width:1550px) {
        .inner {
            max-width: 1550px;
        }
        .footer_linkGroup.link {
            padding: 0 0 15px 25px;
        }
        .bnr_wrap {
            width: auto;
        }
    }
}
