@use "../../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}
header {
    width: 100%;
    background-color: #fff;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: relative;
    z-index: 4;
    &.fixedHeader {
        background-color: transparent;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999; /*最前面へ*/
        animation: DownHeader 0.5s forwards;
    }
    .content {
        position: relative;
        &::before {
            content: "";
            background: #fdfdfdc7;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            z-index: -1;
        }
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 180px;
        position: relative;
        z-index: 3;
        margin-left: 15px;
    }

    /*------------------------------------------------
      ヘッダーメニュー
    ------------------------------------------------*/

    /*
      ナビアイコン
    ------------------------------------------------*/
    .nav-toggle {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 2;
    }
    .nav-toggle span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        right: 13px;
        height: 2px;
        background-color: #262626;
    }
    .nav-toggle span:nth-of-type(1) {
        top: 22px;
        width: 50%;
    }
    .nav-toggle span:nth-of-type(2) {
        top: 29px;
        width: 30%;
    }

    /*
      activeクラスが付与されると線が回転して×に
    ------------------------------------------------*/
    .nav-toggle.active span:nth-of-type(1) {
        top: 20px;
        right: 16px;
        transform: translateY(6px) rotate(-45deg);
        width: 35%;
    }

    .nav-toggle.active span:nth-of-type(2) {
        top: 32px;
        right: 16px;
        transform: translateY(-6px) rotate(45deg);
        width: 35%;
    }

    /*
      メニュー本体
    ------------------------------------------------*/
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        overflow: scroll;
        padding: 70px 0 30px;
        & > div {
            width: 100%;
            height: auto;
            padding: 2px 0;
            box-sizing: border-box;
            & > a {
                display: flex;
                flex-flow: column;
                position: relative;
                padding: 10px 25px 10px 20px;
                p {
                    font-family: g.$font-family2;
                    font-weight: 400;
                    font-style: normal;
                    font-size: rem(19);
                    line-height: 1.5;
                    letter-spacing: 0.1em;
                    position: relative;
                }
                span {
                    font-size: rem(12);
                    line-height: 1.2;
                }
            }
            .menu-tab p {
                &::before,
                &::after {
                    content: "";
                    display: block;
                    background-color: g.$color-main;
                    width: 10px;
                    height: 1.5px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::after {
                    /* 横棒を縦にするために90℃回転させる */
                    transform: translateY(-50%) rotate(90deg);
                    /* プラスからマイナスへの切り替えをゆっくり行いアニメーションさせる */
                    transition: 0.5s;
                }
            }
            .menu-open p::after {
                transform: rotate(0);
                transition: 0.5s;
            }
            /* サブメニュー（アコーディオン）がある場合はクラス名を付け、疑似要素にleft:calc(18px * 文字数)を設定する */
            .menu-tab-corporate p {
                &::before,
                &::after {
                    left: calc(18px * 9);
                }
            }
        }
        .menu-list {
            display: none;
            background: g.$color-gray1;
            padding: 10px 0;
            a {
                width: 60%;
                font-family: g.$font-family1;
                font-size: rem(13.5);
                padding: 7px 40px;
            }
        }
    }

    /*
      アニメーション部分
    ------------------------------------------------*/
    .menu {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s linear;
    }
    .menu.is-active {
        pointer-events: auto;
        opacity: 1;
    }
    @include g.mq-up("lg") {
        .logo {
            width: 220px;
            margin-left: 30px;
        }
        .nav {
            display: flex;
            margin-right: 100px;
            & > li {
                display: block;
                width: 130px;
                text-align: center;
                position: relative;
                &.active {
                    background: #0036601a;
                }
                & > a {
                    padding: 1.3em 0 .9em;
                    p {
                        font-family: g.$font-family2;
                        font-weight: 800;
                        font-size: rem(16);
                        line-height: 1;
                        letter-spacing: 0;
                    }
                    span {
                        font-size: rem(12);
                    }
                }
            }
        }
        .sub {
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            min-height: 0;
            height: 0;
            z-index: 3;
            transition: min-height 0.5s;
            &.active {
                min-height: calc(4em * 5);
            }
            & > li {
                a {
                    font-size: rem(13);
                    font-weight: 800;
                    color: #fff;
                    background: g.$color-main;
                    line-height: 4em;
                }
            }
        }
        .sub > li > a:hover {
            background-color: #004b83;
            opacity: 1;
        }
    }
}
body.open {
    overflow: hidden;
    header .content::before {
        background-color: #fff;
        z-index: 2;
    }
}
