$color-pageBg: #fff;
$color-disabledBg: #909090;
$color-pageBg: #fff;
$color-font: #000;
$color-main: #003660;
$color-green: #048272;
$color-black: #141414;
$color-gray1: #f6f7f7;
$color-gray2: #ebebeb;
$color-gray3: #5d5d5d;
$color-yellow: rgb(255, 232, 28);