@use "../global" as g;
@include g.font-face("Petersburg", "../fonts/Petersburg", 400, normal, woff);
@include g.font-face("Petersburg", "../fonts/Petersburg-Bold", 800, normal, woff);
@function rem($px) {
    @return ($px / 16) * 1rem;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
a {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: g.$color-font;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
input,
select {
    vertical-align: middle;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dt,
dd,
th,
td,
aside,
span,
small,
address {
    font-size: rem(13);
    text-decoration: none;
    cursor: -moz-text;
    cursor: -webkit-text;
    cursor: text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
ul,
li,
ol {
    list-style: none;
}
a,
p {
    display: block;
}
span {
    display: inline-block;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a,
a > img,
h1 > img {
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
    outline: none;
}
address {
    font-style: normal;
}